<!DOCTYPE html>
<html>
<head>
  <title>Admin | Jacob Evans</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/views/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
  <link href="/css/mdl.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/pretty.css">
  <link rel="stylesheet" href="/css/manage.css">
  <script src="/js/mdl.js"></script>
</head>
<body ng-app="app">
  <ng-view></ng-view>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/prettify.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/angular.min.js"></script>
  <script src="/js/angular-route.min.js"></script>
  <script src="/js/angular-cookies.js"></script>
  <script src="/js/admin.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/manage.js"></script>
  <script src="/js/adminReq.js"></script>
  <script src="/js/angularMemory.js"></script>
  <script src="/js/maker.js"></script>
  <script src="/js/preview.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/worker-javascript.js"></script>
  <script src="/js/ui-ace.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-html.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-chrome.js"></script>
</body>
</html>
